<nav class="navbar navbar-expand-lg navbar navbar-inverse bg-inverse nav-bar sticky-top">

  <a class="navbar-brand" *ngIf="!(authService.user | async)" [routerLink]="['/login']">Ingresa al sistema</a>

  <a class="navbar-brand" *ngIf="authService.user | async" [routerLink]="['/dashboard']">Muro</a>
  <a class="navbar-brand" *ngIf="authService.user | async" [routerLink]="['/users-list']">Lista de usuarios</a>

  <a class="navbar-brand pull-rigth" *ngIf="authService.user | async" (click)="authService.logout()">Salir</a>


</nav>

<h1 *ngIf="authService.user | async">Welcome {{ (authService.user | async)?.email }}!</h1>
