<div  class="loginContainer">

  <div class="card card-container">
    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
    <p id="profile-name" class="profile-name-card"></p>
    <form class="form-signin">
      <span id="reauth-email" class="reauth-email"></span>
      <input [(ngModel)] = "userEmail" name="emailField" type="email" id="inputEmail" class="form-control" placeholder="El correo electronico es necesario"  >
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" [(ngModel)]="userPassword" name="passwordField" required>
      <div id="remember" class="checkbox">
        <label>
          <input type="checkbox" value="remember-me"> Recuerdame
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block btn-signup" type="submit" (click)="loginWithEmailAndPassword(userEmail,userPassword)">Ingresar</button>
      <button class="btn btn-lg btn-primary btn-block btn-signin" (click)="signup(userEmail,userPassword)">Registrarse</button>
    </form>
    <a href="#" class="forgot-password"> No recuerdas tu contraseña? </a>
  </div>
</div>
