


<div class="container" style="height : 300px;">

  <button (click)="login()" *ngIf="!(user | async)?.uid"type="button" class="btn btn-info">Ingresar</button>
  <button (click)="logout()" *ngIf="(user | async)?.uid" type="button" class="btn btn-danger">Salir</button>

  <input type="text" id="message" *ngIf="(user | async)?.uid" placeholder="What is it that you do?" (keyup.enter)="Send($event.target.value)" [(ngModel)]="msgVal" />
</div>


<div class="container" style="height : 300px;">

</div>

<div class ="container" [froalaEditor]>Hello, Froala!</div>
