{{ (authService.user | async)?.email }}!

<div class="container">
  <div *ngIf="selectedUser">
    <h1>{{selectedUser.name}}</h1>
    <input [(ngModel)]="selectedUser.name" type="text" />
    <button (click)="update(selectedUser)" type="button" class="btn btn-danger">Update</button>
    <button (click)="deleteTodo(selectedUser)" type="button" class="btn btn-danger">deleteTodo</button>
  </div>
  <div *ngIf="!selectedUser">
    <h1> Selecciona algo</h1>
  </div>
</div>
<div class="container">

  <input [(ngModel)]="newName" type="text" />
  <button (click)="Send(newName)" type="button" class="btn btn-danger">Agregar</button>


</div>



<ul>
  <li *ngFor="let todo of (users | async)">
    <button (click)="selectUser(todo)" type="button" class="btn btn-info">Seleccionar a : {{todo.name}}</button>
  </li>
</ul>
