<h1>__________________________________</h1>
<h5>Componente padre</h5>
<ul class="nav nav-pills nav-stacked">
  <a class="navbar-brand" [routerLink]="['posts', 30]" [routerLinkActive] = "['active']" >Ir al post 30</a>
  <a class="navbar-brand" [routerLink]="['preferences']" [routerLinkActive] = "['active']" >Preferencias </a>



  </ul>

<input type="text" [(ngModel)]="nombreDelPapa" />
<h5>nombreDelPapa desde padre : {{nombreDelPapa}}</h5>

<h1>_________________________</h1>


<h5>Componente hijo</h5>

<!-- <profile-children [nombreDelPapa] = "'Inicializado desde el padre'" ></profile-children> -->
<profile-children [nombreDelPapa] = "nombreDelPapa" ></profile-children>


<h1>__________________________</h1>

<router-outlet></router-outlet>
